<%= form_for Post.new, :remote => true do |f| %>
	<div class="from-group">
		<%= f.text_area :content, :class => "form-control" %>
	</div>
	<div class="from-group">
		<%= f.submit :class => "btn btn-primary" %>
	</div>
<% end %>

<div id="post-list">
	<% @posts.each do |post| %>

<%= render :partial => "post", :locals => { :post => post} %>

	<% end %>
</div>

<script>
	$(".delete-post").click(function(evt){
		evt.preventDefault();
		var url = $(this).attr("href");

		// 送出ajax
		$.ajax({
			url: url,
			method: 'DELETE',
			dataType: 'json',
			success: function(data){
				$("#post-" + data["id"]).remove();
			}
		})
	})
</script>
